/* METEOLATVIA MAJASLAPA */
* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
  font-family: "Kumbh Sans", sans-serif;
}










/* NAVBAR */
.navbar {
  background: rgb(43, 43, 51);
  height: 80px;
  display: flex;
  justify-content: center;
  align-items: center;
  font-size: 1.2rem;
  font-weight: 500;
  position: sticky;
  top: 0;
  z-index: 999;
}

.navbar__container {
  display: flex;
  justify-content: space-between;
  height: 80px;
  z-index: 1;
  width: 100%;
  max-width: 1300px;
  margin-right: auto;
  margin-left: auto;
  padding-right: 50px;
  padding-left: 50px;
}

#navbar__logo {
  background-image: linear-gradient(to top,
      rgb(0, 40, 255) 0%,
      rgb(64, 92, 255) 100%);
  background-size: 100%;
  -webkit-background-clip: text;
  -moz-background-clip: text;
  -webkit-text-fill-color: transparent;
  -moz-text-fill-color: transparent;
  display: flex;
  align-items: center;
  cursor: pointer;
  text-decoration: none;
  font-size: 2rem;
  font-weight: 900;
}

#navbar__logo img {
  width: 12%;
}

.fa-gem {
  margin-right: 0.5rem;
}

.navbar__menu {
  display: flex;
  align-items: center;
  list-style: none;
  text-align: center;
}

.navbar__item {
  height: 80px;
}

.navbar__links {
  color: rgb(250, 252, 255);
  display: flex;
  align-items: center;
  justify-content: center;
  text-decoration: none;
  padding: 0 1rem;
  height: 100%;
}

.navbar__btn {
  display: flex;
  justify-content: center;
  align-items: center;
  padding: 0 1rem;
  width: 100%;
}

.button {
  display: flex;
  justify-content: center;
  align-items: center;
  text-decoration: none;
  padding: 10px 20px;
  height: 100%;
  width: 100%;
  border: none;
  outline: none;
  border-radius: 4px;
  background: rgb(128, 147, 255);
  color: #fff;
}

.button:hover {
  background: rgb(0, 40, 255);
  transition: all 0.3s ease;
}

.navbar__links:hover {
  color: rgb(128, 147, 255);
  transition: all 0.3s ease;
}

.navbar__dropdown:hover .navbar__submenu {
  display: block;
}

.navbar__submenu {
  display: none;
  position: absolute;
  background-color: rgba(250, 252, 255, 0.95);
  /* Add transparency for a subtle effect */
  border: 1px solid rgb(196, 200, 204);
  z-index: 1;
  padding: 20px;
  border-radius: 4px;
  transition: opacity 0.3s ease, transform 0.3s ease;
}

.navbar__submenu-item {
  padding: 16px;
  transition: background-color 0.3s ease;
}

.navbar__submenu-item:hover {
  background-color: rgba(128, 147, 255, 0.2);
  /* Add a subtle background color on hover */
}

.navbar__submenu-item a {
  text-decoration: none;
  color: rgb(23, 25, 26);
}

.navbar__submenu {
  text-align: left;
  list-style: none;
  padding: 0;
}

@media screen and (max-width: 960px) {
  .navbar__container {
    display: flex;
    justify-content: space-between;
    height: 80px;
    z-index: 1;
    width: 100%;
    max-width: 1300px;
    padding: 0;
  }

  .navbar__menu {
    display: grid;
    grid-template-columns: auto;
    margin: 0;
    width: 100%;
    position: absolute;
    top: -1000px;
    opacity: 1;
    transition: all 0.5s ease;
    height: 50vh;
    z-index: -1;
  }

  .navbar__submenu {
    display: none;
    position: absolute;
    background-color: rgba(250, 252, 255, 0.95);
    /* Add transparency for a subtle effect */
    border: 1px solid rgb(196, 200, 204);
    z-index: 1;
    padding: 20px;
    border-radius: 4px;
    transition: opacity 0.3s ease, transform 0.3s ease;
    width: 100%;
  }

  .navbar__menu.active {
    background: #131313;
    top: 100%;
    opacity: 1;
    transition: all 0.5s ease;
    z-index: 99;
    height: 60vh;
    font-size: 1.6rem;
  }

  #navbar__logo {
    padding-left: 25px;
  }

  .navbar__toggle .bar {
    width: 25px;
    height: 3px;
    margin: 5px auto;
    transition: all 0.3s ease-in-out;
    background: #fff;
  }

  .navbar__item {
    width: 100%;
  }

  .navbar__links {
    text-align: center;
    padding: 2rem;
    width: 100%;
    display: table;
  }

  .navbar__btn {
    padding-bottom: 2rem;
  }

  .button {
    display: flex;
    justify-content: center;
    align-items: center;
    width: 80%;
    height: 80px;
    margin: 0;
  }

  #mobile-menu {
    position: absolute;
    top: 20%;
    right: 5%;
    transform: translate(5%, 20%);
  }

  .navbar__toggle .bar {
    display: block;
    cursor: pointer;
  }

  #mobile-menu.is-active .bar:nth-child(2) {
    opacity: 0;
  }

  #mobile-menu.is-active .bar:nth-child(1) {
    transform: translateY(8px) rotate(45deg);
  }

  #mobile-menu.is-active .bar:nth-child(3) {
    transform: translateY(-8px) rotate(-45deg);
  }
}










/* Main banner section */
.main {
  background-image: linear-gradient(rgba(0, 4, 26, 0.6), rgba(0, 4, 26, 0.8)),
    url(https://fv9-3.failiem.lv/down.php?i=twqq54ua5&view);
}

.main-container {
  display: grid;
  grid-template-columns: 1fr 1fr;
  align-items: center;
  justify-self: center;
  margin: 0 auto;
  height: 95vh;

  z-index: 1;
  width: 100%;
  max-width: 1300px;
  padding-right: 50px;
  padding-left: 50px;
}

.main-content {
  color: rgb(255, 255, 255);
  width: 100%;
}

.main-content h1 {
  font-size: 4rem;
  background-color: #ff8177;
  background-image: linear-gradient(to top, #ff0844 0%, #ffb199 100%);
  background-size: 100%;
  -webkit-background-clip: text;
  -moz-background-clip: text;
  -webkit-text-fill-color: transparent;
  -moz-text-fill-color: transparent;
}

.main-content h2 {
  font-size: 4rem;
  margin-top: 10px;
  background-color: #ff8177;
  background-image: linear-gradient(-20deg,
      rgb(0, 40, 255) 0%,
      rgb(64, 92, 255) 100%);
  background-size: 100%;
  -webkit-background-clip: text;
  -moz-background-clip: text;
  -webkit-text-fill-color: transparent;
  -moz-text-fill-color: transparent;
}

.main-content p {
  margin-top: 1rem;
  font-size: 2rem;
  font-weight: 700;
}

.main-btn {
  font-size: 1rem;
  background-image: linear-gradient(to top,
      rgb(66, 94, 255) 0%,
      rgb(0, 40, 255) 100%);
  padding: 14px 32px;
  border: none;
  border-radius: 4px;
  color: rgb(255, 255, 255);
  margin-top: 2rem;
  cursor: pointer;
  position: relative;
  transition: all 0.35s;
  outline: none;
}

.main-btn a {
  position: relative;
  z-index: 2;
  color: #fff;
  text-decoration: none;
}

.main-btn:after {
  position: absolute;
  content: "";
  top: 0;
  left: 0;
  width: 0;
  height: 100%;
  background: #1500ff;
  transition: all 0.35s;
  border-radius: 4px;
}

.main-btn:hover {
  color: #fff;
}

.main-btn:hover:after {
  width: 100%;
}

.main-img--container {
  text-align: center;
}

#main-img {
  height: 100%;
  width: 100%;
  border-radius: 15px;
}

@media screen and (max-width: 768px) {
  .main-container {
    display: grid;
    grid-template-columns: auto;
    align-items: center;
    justify-self: center;
    width: 100%;
    margin: 0 auto;
    height: 50vh;
  }

  .main-content {
    text-align: center;
    margin-bottom: 4rem;
  }

  .main-content h1 {
    font-size: 2.5rem;
    margin-top: 2rem;
  }

  .main-content h2 {
    font-size: 3rem;
  }

  .main-content p {
    margin-top: 1rem;
    font-size: 1.5rem;
  }
}

@media screen and (max-width: 480px) {
  .main-content h1 {
    font-size: 2rem;
    margin-top: 3rem;
  }

  .main-content h2 {
    font-size: 2rem;
  }

  .main-content p {
    margin-top: 2rem;
    font-size: 1.5rem;
  }

  .main-btn {
    padding: 12px 36px;
    margin: 2.5rem 0;
  }
}










/*SAKUMLAPA*/
/* Observations Section */
.jaunumi {
  background: rgb(23, 25, 26);
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  height: 100vh;
}

.jaunumi h1 {
  color: rgb(250, 252, 255);
  margin-bottom: 5rem;
  font-size: 2.5rem;
  font-weight: 700;
}

.jaunumi-container {
  display: flex;
  justify-content: center;
  flex-wrap: wrap;
}

.jaunumi-card {
  margin: 1rem;
  height: 525px;
  width: 400px;
  border-radius: 4px;
  background: url("/images/pic3.jpg");
  background-size: cover;
  position: relative;
  color: #fff;
  overflow: hidden;
}

.jaunumi-card:before {
  content: "";
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background: linear-gradient(to top, rgba(23, 25, 26, 1), rgba(23, 25, 26, 0));
  opacity: 0.8;
}

.jaunumi-card h2 {
  position: absolute;
  top: 350px;
  left: 30px;
}

.jaunumi-card p {
  position: absolute;
  top: 400px;
  left: 30px;
}

.jaunumi-card button {
  color: #fff;
  padding: 10px 20px;
  border: none;
  outline: none;
  border-radius: 4px;
  background: rgb(0, 40, 255);
  position: absolute;
  top: 440px;
  left: 30px;
  font-size: 1rem;
}

.jaunumi-card button:hover {
  cursor: pointer;
}

.jaunumi-card:hover {
  transform: scale(1.075);
  transition: 0.2s ease-in;
  cursor: pointer;
  box-shadow: 0 0 25px 5px rgba(0, 40, 255, 0.2);
}

.jaunumi-card_img {
  width: 100%;
  height: 100%;
  object-fit: cover;
  border-radius: 4px;
}

@media screen and (max-width: 960px) {
  .jaunumi {
    height: 1600px;
  }

  .jaunumi h1 {
    font-size: 2rem;
    margin-top: 12rem;
  }
}

@media screen and (max-width: 480px) {
  .jaunumi {
    height: 1400px;
  }

  .jaunumi h1 {
    font-size: 1.2rem;
  }

  .jaunumi-card {
    width: 300px;
  }
}





/* Observations Section */
.observations {
  background: rgb(23, 25, 26);
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  height: 100vh;
}

.observations h1 {
  color: rgb(250, 252, 255);
  margin-bottom: 5rem;
  font-size: 2.5rem;
  font-weight: 700;
}

.observations-container {
  display: flex;
  justify-content: center;
  flex-wrap: wrap;
}

.observations-card {
  margin: 1rem;
  height: 525px;
  width: 400px;
  border-radius: 4px;
  background: url("/images/pic3.jpg");
  background-size: cover;
  position: relative;
  color: #fff;
  overflow: hidden;
}

.observations-card:before {
  content: "";
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background: linear-gradient(to top, rgba(23, 25, 26, 1), rgba(23, 25, 26, 0));
  opacity: 0.8;
}

.observations-card h2 {
  position: absolute;
  top: 350px;
  left: 30px;
}

.observations-card p {
  position: absolute;
  top: 400px;
  left: 30px;
}

.observations-card button {
  color: #fff;
  padding: 10px 20px;
  border: none;
  outline: none;
  border-radius: 4px;
  background: rgb(0, 40, 255);
  position: absolute;
  top: 440px;
  left: 30px;
  font-size: 1rem;
}

.observations-card button:hover {
  cursor: pointer;
}

.observations-card:hover {
  transform: scale(1.075);
  transition: 0.2s ease-in;
  cursor: pointer;
  box-shadow: 0 0 25px 5px rgba(0, 40, 255, 0.2);
}

.observations-card-img {
  width: 100%;
  height: 100%;
  object-fit: cover;
  border-radius: 4px;
}

@media screen and (max-width: 960px) {
  .observations {
    height: 1600px;
  }

  .observations h1 {
    font-size: 2rem;
    margin-top: 12rem;
  }
}

@media screen and (max-width: 480px) {
  .observations {
    height: 1400px;
  }

  .observations h1 {
    font-size: 1.2rem;
  }

  .observations-card {
    width: 300px;
  }
}





/* Forecasts Section */
.forecasts {
  background: rgb(23, 25, 26);
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  height: 100vh;
}

.forecasts h1 {
  color: rgb(250, 252, 255);
  margin-bottom: 5rem;
  font-size: 2.5rem;
}

.forecasts-container {
  display: flex;
  justify-content: center;
  flex-wrap: wrap;
}

.forecasts-card {
  margin: 1rem;
  height: 525px;
  width: 400px;
  border-radius: 4px;
  background-image: linear-gradient(to bottom,
      rgba(0, 0, 0, 0) 0%,
      rgba(23, 25, 26, 0.6) 100%),
    url("/images/pic3.jpg");
  background-size: cover;
  position: relative;
  color: rgb(255, 255, 255);
}

.forecasts-card:before {
  content: "";
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background: linear-gradient(to top, rgba(23, 25, 26, 1), rgba(23, 25, 26, 0));
  opacity: 0.8;
}

.forecasts-card:nth-child(2) {
  background-image: linear-gradient(to bottom,
      rgba(0, 0, 0, 0) 0%,
      rgba(23, 25, 26, 0.6) 100%),
    url("/images/pic4.jpg");
}

.forecasts-card h2 {
  position: absolute;
  top: 350px;
  left: 30px;
}

.forecasts-card p {
  position: absolute;
  top: 400px;
  left: 30px;
}

.forecasts-card button {
  color: #fff;
  padding: 10px 20px;
  border: none;
  outline: none;
  border-radius: 4px;
  background: rgb(0, 40, 255);
  position: absolute;
  top: 440px;
  left: 30px;
  font-size: 1rem;
}

.forecasts-card button:hover {
  cursor: pointer;
}

.forecasts-card:hover {
  transform: scale(1.075);
  transition: 0.2s ease-in;
  cursor: pointer;
  box-shadow: 0 0 25px 5px rgba(0, 40, 255, 0.2);
}

.forecasts-card-img {
  width: 100%;
  height: 100%;
  object-fit: cover;
  border-radius: 15px;
}

@media screen and (max-width: 960px) {
  .forecasts {
    height: 1600px;
  }

  .forecasts h1 {
    font-size: 2rem;
    margin-top: 12rem;
  }
}

@media screen and (max-width: 480px) {
  .forecasts {
    height: 1400px;
  }

  .forecasts h1 {
    font-size: 1.2rem;
  }

  .forecasts-card {
    width: 300px;
  }
}





/* Space weather Section */
.spaceweather {
  background: rgb(23, 25, 26);
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  height: 100vh;
}

.spaceweather h1 {
  color: rgb(250, 252, 255);
  margin-bottom: 5rem;
  font-size: 2.5rem;
}

.spaceweather-container {
  display: flex;
  justify-content: center;
  flex-wrap: wrap;
}

.spaceweather-card {
  margin: 1rem;
  height: 525px;
  width: 400px;
  border-radius: 4px;
  background-image: linear-gradient(to bottom,
      rgba(0, 0, 0, 0) 0%,
      rgba(23, 25, 26, 0.6) 100%),
    url("/images/pic3.jpg");
  background-size: cover;
  position: relative;
  color: rgb(255, 255, 255);
}

.spaceweather-card:before {
  content: "";
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background: linear-gradient(to top, rgba(23, 25, 26, 1), rgba(23, 25, 26, 0));
  opacity: 0.8;
}

.spaceweather-card:nth-child(2) {
  background-image: linear-gradient(to bottom,
      rgba(0, 0, 0, 0) 0%,
      rgba(23, 25, 26, 0.6) 100%),
    url("/images/pic4.jpg");
}

.spaceweather-card h2 {
  position: absolute;
  top: 350px;
  left: 30px;
}

.spaceweather-card p {
  position: absolute;
  top: 400px;
  left: 30px;
}

.spaceweather-card button {
  color: #fff;
  padding: 10px 20px;
  border: none;
  outline: none;
  border-radius: 4px;
  background: rgb(0, 40, 255);
  position: absolute;
  top: 440px;
  left: 30px;
  font-size: 1rem;
}

.spaceweather-card button:hover {
  cursor: pointer;
}

.spaceweather-card:hover {
  transform: scale(1.075);
  transition: 0.2s ease-in;
  cursor: pointer;
  box-shadow: 0 0 25px 5px rgba(0, 40, 255, 0.2);
}

.spaceweather-card_img {
  width: 100%;
  height: 100%;
  object-fit: cover;
  border-radius: 15px;
}

@media screen and (max-width: 960px) {
  .spaceweather {
    height: 1600px;
  }

  .spaceweather h1 {
    font-size: 2rem;
    margin-top: 12rem;
  }
}

@media screen and (max-width: 480px) {
  .spaceweather {
    height: 1400px;
  }

  .spaceweather h1 {
    font-size: 1.2rem;
  }

  .spaceweather-card {
    width: 300px;
  }
}





/* Footer section */
.footer-container {
  background-color: rgb(43, 43, 51);
  padding: 5rem 0;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

#footer-logo {
  color: #fff;
  display: flex;
  align-items: center;
  cursor: pointer;
  text-decoration: none;
  font-size: 2rem;
}

.footer-links {
  width: 100%;
  max-width: 1200px;
  /* Adjusted maximum width */
  display: flex;
  justify-content: center;
  gap: 20px;
  /* Added gap between link items */
  flex-wrap: wrap;
  /* Allow links to wrap on smaller screens */
}

.footer-link--wrapper {
  display: flex;
  flex-wrap: wrap;
  /* Allow link items to wrap */
}

.footer-link--items {
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  margin: 16px;
  text-align: left;
  width: 160px;
  box-sizing: border-box;
}

.footer-link--items h2 {
  margin-bottom: 12px;
  /* Adjusted margin */
}

.footer-link--items>h2 {
  color: #fff;
  font-size: 1.2rem;
  /* Adjusted font size */
}

.footer-link--items a {
  color: #fff;
  text-decoration: none;
  margin-bottom: 0.3rem;
  /* Adjusted margin */
  font-size: 0.9rem;
  /* Adjusted font size */
}

.footer-link--items a:hover {
  color: #e9e9e9;
  transition: 0.3s ease-out;
}

.social-media {
  max-width: 1200px;
  /* Adjusted maximum width */
  width: 100%;
}

.social-media--wrap {
  display: flex;
  justify-content: space-between;
  align-items: center;
  width: 90%;
  max-width: 1200px;
  /* Adjusted maximum width */
  margin: 40px auto 0 auto;
}

.social-icons {
  display: flex;
  gap: 15px;
  /* Added gap between social icons */
}

.social-icon--link {
  color: #fff;
  font-size: 24px;
  transition: color 0.3s ease-out;
  /* Added transition effect */
}

.social-icon--link:hover {
  color: #e9e9e9;
}

.website__rights {
  color: #fff;
  margin-top: 10px;
  /* Added margin for better separation */
}

@media screen and (max-width: 820px) {
  .footer-links {
    padding-top: 2rem;
  }

  #footer-logo {
    margin-bottom: 2rem;
  }

  .website-rights {
    margin-bottom: 2rem;
  }

  .footer-link--wrapper {
    flex-direction: column;
  }

  .social-media--wrap {
    flex-direction: column;
  }
}

@media screen and (max-width: 480px) {
  .footer-link--items {
    margin: 0;
    padding: 10px;
    width: 100%;
  }
}










/* Observation page */
.observation-map-LVGMC {
  background: transparent;
  text-align: center;
  padding: 25px;
}

.observation-map-LVGMC p {
  margin-top: 1rem;
  font-size: 2rem;
  font-weight: 700;
  color: rgb(250, 252, 255);
  padding: 2%;
}

@media (max-width: 768px) {
  .observation-map-LVGMC__btn {
    flex-basis: calc(33.33% - 1rem);
  }
}

.group-container-LVGMC {

  padding: 2%;
  border: 0px solid #ccc;
  border-radius: 5px;
  box-shadow: 2px 2px 5px rgba(0, 0, 0, 0.0);
  margin: 2% 5%;
  position: relative;
}

.group-container-LVGMC h2 {
  color: rgb(240, 240, 250);
  font-size: 2rem;
  font-weight: 700;
  text-align: center;
}

.observation-map {
  border-radius: 4px;
  width: 80%;
  height: 800px;
  display: block;
  margin: 0 auto;
  /* Center horizontally */
}

@media (max-width: 767px) {
  .observation-map {
    height: 700px;
    width: 140%;
    /* Set width to 100% to make it responsive */
    display: block;
    margin: 10% auto;
    /* Adjust the vertical margin to center vertically */
    margin-left: -20%;
  }
}

.observation-chart {
  max-width: 100%;
  border: none;
  border: 1px solid #ccc;
  border-radius: 4px;
  margin: 10px;
  box-shadow: 2px 2px 5px rgba(0, 0, 0, 0.5);
  width: 1282px;
  height: 700px;
  background-color: rgb(57, 57, 77);
  margin-left: 11%;
}

@media (max-width: 767px) {
  .observation-chart {
    margin-left: 0%;
  }
}

.observation-data-menu-container {
  display: flex;
  flex-direction: column;
  position: relative;
}

.observation-data-menu-button {
  background-color: rgb(55, 55, 55);
  color: white;
  padding: 18px;
  font-size: 15px;
  border: none;
  cursor: pointer;
  width: 81%;
  margin: 0 auto;
  text-align: left;
  border-radius: 4px;
  text-decoration: none;
}

.observation-data-menu-content {
  display: none;
  position: absolute;
  background-color: rgb(35, 35, 35);
  min-width: 160px;
  box-shadow: 0 8px 16px rgba(0, 0, 0, 0.2);
  z-index: 1;
  top: 100%;
  left: 50%;
  transform: translateX(-50%);
  width: 81%;
  max-width: 1895px;
  border-radius: 4px;
  overflow: hidden;
  text-decoration: none;
}

.observation-data-menu-content a {
  color: white;
  padding: 12px;
  text-decoration: none;
  display: block;
  width: 100%;
  box-sizing: border-box;
  transition: background-color 0.3s ease;
}

.observation-data-menu-content a:hover {
  background-color: rgb(85, 85, 85);
  border-radius: 4px;
}

.observation-data-menu-container:hover .observation-data-menu-content {
  display: block;
}


@media (max-width: 768px) {
  .observation__map__btn {
    flex-basis: calc(50% - 1rem);
    max-width: calc(50% - 1rem);
  }
}










/*METEO_KOSMOSAAPSTAKLI*/
/* KP-index and OVATION */
.group-container-OVATION {
  background-color: rgb(43, 43, 51);
  padding: 2%;
  border: 1px solid #ccc;
  border-radius: 5px;
  box-shadow: 2px 2px 5px rgba(0, 0, 0, 0.5);
  margin: 2% 5%;
  display: flex;
  flex-wrap: wrap;
  align-items: flex-start;
}

.group-container-OVATION h2 {
  margin-top: 1rem;
  font-size: 2rem;
  font-weight: 700;
  color: rgb(250, 252, 255);
  padding: 1%;
  text-align: center;
  width: 100%;
}

.title-separator-OVATION {
  border: none;
  border-top: 1px solid #ccc;
  width: 80%;
  margin: 50px auto;
}

.OVATION-chart {
  display: grid;
  grid-template-columns: 1fr;
  gap: 20px;
}

.OVATION-chart iframe {
  width: 100%;
  height: 320px;
  border: none;
}

.OVATION-chart img {
  max-width: 100%;
  height: auto;
}

.OVATION-chart-container {
  display: flex;
  flex-direction: row;
  align-items: flex-start;
  width: 100%;
  margin-left: 250px;
  margin-right: 250px;
}

.OVATION-chart-container .OVATION-chart {
  flex: 1;
}

.OVATION-chart-container img {
  max-width: 60%;
  height: auto;
  transform: rotate(90deg);
  clip-path: inset(10% 0 17% 0);
}

.highcharts-container {
  width: 100% !important;
}

@media screen and (max-width: 768px) {
  .OVATION-chart-container {
    flex-direction: column;
    align-items: center;
    margin-left: 0px;
    margin-right: 0px;
  }

  .OVATION-chart-container img {
    max-width: 100%;
    clip-path: none;
    transform: rotate(0deg);
  }
}










/* Solar wind and magnetic field (DSCOVR) */
.group-container-DSCOVR {
  background-color: rgb(43, 43, 51);
  padding: 2%;
  border: 1px solid #ccc;
  border-radius: 5px;
  box-shadow: 2px 2px 5px rgba(0, 0, 0, 0.5);
  margin: 2% 5%;
  display: flex;
  flex-wrap: wrap;
  align-items: flex-start;
}

.group-container-DSCOVR h2 {
  margin-top: 1rem;
  font-size: 2rem;
  font-weight: 700;
  color: rgb(250, 252, 255);
  padding: 1%;
  text-align: center;
  width: 100%;
}

.title-separator-DSCOVR {
  border: none;
  border-top: 1px solid #ccc;
  width: 80%;
  margin: 50px auto;
}

.DSCOVR-chart {
  width: 100%;
  display: flex;
  flex-direction: column;
  align-items: center;
  margin-left: 200px;
}

.DSCOVR-chart iframe {
  width: 100%;
  height: 500px;
  border: none;
  margin-bottom: 20px;
  /* Add margin between iframes */
}

.highcharts-container {
  width: 100% !important;
}

/* Media query for smaller screens */
@media screen and (max-width: 768px) {
  .DSCOVR-chart iframe {
    width: 100%;
    /* Reduce width of charts on smaller screens */
    max-width: 100%;
    /* Ensure charts don't exceed the screen width */
  }

  .DSCOVR-chart {
    width: 100%;
    display: flex;
    flex-direction: column;
    align-items: center;
    margin-left: 0px;
  }
}










/* Solar flares */
.group-container-flares {
  background-color: rgb(43, 43, 51);
  padding: 2%;
  border: 1px solid #ccc;
  border-radius: 5px;
  box-shadow: 2px 2px 5px rgba(0, 0, 0, 0.5);
  margin: 2% 5%;
  display: flex;
  flex-wrap: wrap;
  align-items: flex-start;
}

.group-container-flares h2 {
  margin-top: 1rem;
  font-size: 2rem;
  font-weight: 700;
  color: rgb(250, 252, 255);
  padding: 1%;
  text-align: center;
  width: 100%;
}

.title-separator-flares {
  border: none;
  border-top: 1px solid #ccc;
  width: 80%;
  margin: 50px auto;
}

.flares-chart {
  width: 100%;
  display: flex;
  flex-direction: column;
  align-items: center;
  margin-left: 200px;
}

.flares-chart iframe {
  /* Corrected class name */
  width: 100%;
  height: 500px;
  border: none;
  margin-bottom: 20px;
  /* Add margin between iframes */
}

.highcharts-container {
  width: 100% !important;
}

/* Define columns for side-by-side images */
.column {
  float: left;
  width: 50%;
  padding: 5px;
  display: flex;
  justify-content: center;
  margin-left: -55px;
}

/* Clear floats after the columns */
.row::after {
  content: "";
  clear: both;
  display: table;
}

/* Media query for smaller screens */
@media screen and (max-width: 768px) {
  .column {
    width: 100%;
    /* Make each column take up full width on smaller screens */
    float: none;
    /* Remove the float so columns stack vertically */
    margin-left: 0px;
  }
}

/* Media query for smaller screens */
@media screen and (max-width: 768px) {
  .flares-chart iframe {
    width: 100%;
    /* Reduce width of charts on smaller screens */
    max-width: 100%;
    /* Ensure charts don't exceed the screen width */
  }

  .flares-chart {
    width: 100%;
    display: flex;
    flex-direction: column;
    align-items: center;
    margin-left: 0px;
  }
}














































































































.group_container_OVATION {
  background-color: rgb(43, 43, 51);
  padding: 2%;
  border: 1px solid #ccc;
  border-radius: 5px;
  box-shadow: 2px 2px 5px rgba(0, 0, 0, 0.5);
  margin: 2% 5%;
  display: flex;
  flex-wrap: wrap;
  align-items: flex-start;
}

.group_container_OVATION h2 {
  margin-top: 1rem;
  font-size: 2rem;
  font-weight: 700;
  color: rgb(250, 252, 255);
  padding: 1%;
  text-align: center;
  width: 100%;
}

.title_separator_OVATION {
  border: none;
  border-top: 1px solid #ccc;
  width: 80%;
  margin: 50px auto;
}

.image_container {
  width: 42%;
  text-align: left;
  overflow: hidden;
}

.image_container img {
  width: 100%;
  max-width: 100%;
  transform: rotate(90deg);
  clip-path: inset(10% 7% 17% 10%);
  margin-top: -9%;
}

.chart_container {
  display: flex;
  flex-wrap: wrap;
  width: 55%;
}

.chart {
  flex: 1;
  margin: 0 10px;
  overflow: hidden;
  max-width: 100%;
  border: 2px solid #ccc;
  border-radius: 10px;
  box-shadow: 2px 2px 5px rgba(0, 0, 0, 0.5);
  background-color: rgb(57, 57, 77);
}

.kirunachart {
  width: 90%;
  margin: 2% auto;
  border: 2px solid #ccc;
  border-radius: 10px;
  box-shadow: 2px 2px 5px rgba(0, 0, 0, 0.5);
  background-color: rgb(57, 57, 77);
}

.ovation_legend_container {
  margin-top: 0%;
  margin-left: 5%;
  display: flex;
  flex-direction: column;
  background-color: rgba(57, 57, 77, 1.0);
  padding: 10px;
  border-radius: 8px;
  width: 340px;
}

.ovation_legend_container h3 {
  padding-top: 5%;
  padding-bottom: 15%;
  text-align: center;
  color: #e9e9e9;
}

.ovation_legend_item {
  display: flex;
  align-items: center;
  margin-bottom: 10px;
}

.ovation_legend_color {
  width: 20px;
  height: 20px;
  border-radius: 50%;
  margin-right: 10px;
}

.ovation_legend_text {
  white-space: nowrap;
  color: #fff;
  font-family: 'YourFont', sans-serif;
  font-size: 14px;
  font-weight: 500;
}

.lightbox_overlay_ovation {
  display: none;
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background: rgba(0, 0, 0, 0.8);
  z-index: 999;
  text-align: center;
}

.lightbox_image_ovation {
  display: inline-block;
  max-width: 100%;
  max-height: 100%;
  margin: 10px;
}

@media screen and (max-width: 600px) {
  .ovation_legend_item {
    flex-direction: column;
    align-items: flex-start;
    margin-bottom: 5px;
  }

  .ovation_legend_color {
    margin-right: 0;
    margin-bottom: 5px;
  }
}

.ovation_legend_g0 {
  background-color: rgb(146, 208, 80);
}

.ovation_legend_g1 {
  background-color: rgb(246, 235, 20);
}

.ovation_legend_g2 {
  background-color: rgb(255, 200, 0);
}

.ovation_legend_g3 {
  background-color: rgb(255, 150, 0);
}

.ovation_legend_g4 {
  background-color: rgb(255, 0, 0);
}

.ovation_legend_g5 {
  background-color: rgb(200, 0, 0);
}

@media screen and (max-width: 768px) {
  .group_container_OVATION {
    margin: 2% 2%;
  }

  .image_container,
  .chart_container {
    width: 100%;
  }

  .chart {
    margin: 10px 0;
    width: 100%;
  }
}





/*Saules vejs un magnetiskais lauks*/
.BtLow,
.BzLow,
.DensityLow,
.SpeedLow {
  background-color: rgb(0, 255, 0);
  color: rgb(0, 0, 0);
}

.BtIncreased,
.BzIncreased,
.DensityIncreased,
.SpeedIncreased {
  background-color: rgb(255, 255, 0);
  color: rgb(0, 0, 0);
}

.BtModerate,
.BzModerate,
.DensityModerate,
.SpeedModerate {
  background-color: rgb(255, 128, 0);
  color: rgb(0, 0, 0);
}

.BtHigh,
.BzHigh,
.DensityHigh,
.SpeedHigh {
  background-color: rgb(255, 0, 0);
  color: rgb(0, 0, 0);
}

.BtVeryHigh,
.BzVeryHigh,
.DensityVeryHigh,
.SpeedVeryHigh {
  background-color: rgb(128, 0, 0);
  color: rgb(0, 0, 0);
}

.BzLow {
  font-weight: 100;
}

.iframe_ACE {
  display: grid;
  margin: 0 auto;
  border: 2px solid #ccc;
  border-radius: 10px;
  margin: 10px;
  box-shadow: 2px 2px 5px rgba(0, 0, 0, 0.5);
  width: 1600px;
  height: 420px;
  background-color: rgb(57, 57, 77);
  max-width: 100%;
}

.DSCOVR_tables {
  display: grid;
  grid-template-columns: repeat(4, 2fr);
  gap: 20px;
  padding-top: 5%;
}

@media (max-width: 768px) {
  .grid-item-dscovr {
    grid-template-columns: 1fr;
  }
}

.ACE_data {
  color: #ffffff;
  font-family: Kumbh Sans, sans-serif;
  box-shadow: 2px 2px 5px rgba(0, 0, 0, 0.5);
  width: 98%;
  height: 100%;
}

.ACE_data {
  border-collapse: collapse;
  width: 100%;
  height: 100%;
  margin-top: 20px;
}

.ACE_data th,
.ACE_data td {
  padding: 10px;
  text-align: center;
  border: 1px solid #444;
}

.ACE_data th {
  background-color: #444;
  color: #ffffff;
}

.ACE_data tbody tr:nth-child(odd) {
  background-color: rgb(57, 57, 77);
}

.ACE_data tbody tr:nth-child(even) {
  background-color: rgb(67, 67, 87);
}

.group_container_DSCOVR {
  background-color: rgb(43, 43, 51);
  padding: 2%;
  border: 1px solid #ccc;
  border-radius: 5px;
  box-shadow: 2px 2px 5px rgba(0, 0, 0, 0.5);
  margin: 10% 5%;
}

.group_container_DSCOVR h2 {
  margin-top: 1rem;
  font-size: 2rem;
  font-weight: 700;
  color: rgb(250, 252, 255);
  padding: 1%;
  text-align: center;
}


.info_button_container_DSCOVR {
  position: relative;
  display: flex;
  justify-content: flex-end;
  margin-top: -3%;
  margin-right: 30%;
}

.info_button_DSCOVR {
  background-color: #007bff;
  color: rgb(255, 255, 255);
  border: none;
  border-radius: 50%;
  width: 30px;
  height: 30px;
  font-size: 20px;
  cursor: pointer;
  box-shadow: 0 0 5px rgba(0, 123, 255, 0.5);
  transition: box-shadow 0.3s ease-in-out;
  background-color: rgb(0, 128, 255),
}

.info_button_DSCOVR:hover {
  box-shadow: 0 0 15px rgba(0, 123, 255, 0.9);
  transition: box-shadow 0.3s ease-in-out;
}

.title_separator_DSCOVR {
  border: none;
  border-top: 1px solid #ccc;
  width: 80%;
  margin: 50px auto;
}

.lightbox_DSCOVR {
  display: none;
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background-color: rgba(0, 0, 0, 0.7);
  z-index: 1;
  overflow: auto;
}

.lightbox_content_DSCOVR {
  background-color: rgb(43, 43, 51);
  margin: 15% auto;
  padding: 20px;
  border: 1px solid #888;
  width: 50%;
  position: relative;
  box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2);
}

.lightbox_content_DSCOVR p {
  margin-top: 1rem;
  font-size: 2rem;
  font-weight: 700;
  color: rgb(250, 252, 255);
  padding: 1%;
  text-align: center;
}

.lightbox_overlay_DSCOVR {
  display: none;
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background: rgba(0, 0, 0, 0.7);
  z-index: 999;
  text-align: center;
}

.lightbox_image_DSCOVR {
  display: inline-block;
  max-width: 90%;
  max-height: 90%;
  margin: 10px;
}

.close-button_DSCOVR {
  position: absolute;
  top: 10px;
  right: 10px;
  font-size: 20px;
  cursor: pointer;
}

.close-button_DSCOVR:hover {
  color: red;
}

.toggle_buttons_DSCOVR {
  text-align: center;
  margin: 10px 0;
}

.toggle_buttons_DSCOVR button {
  padding: 10px 20px;
  font-size: 16px;
  margin: 5px;
  background-color: rgb(0, 128, 255);
  color: #fff;
  border: none;
  cursor: pointer;
  border-radius: 4px;
}

.toggle-buttons_DSCOVR button:hover {
  background-color: rgb(155, 205, 255);
}

.toggle_buttons_DSCOVR button:hover {
  box-shadow: 0 0 15px rgba(0, 123, 255, 0.9);
  transition: box-shadow 0.3s ease-in-out;
}

.toggle_container_DSCOVR {
  display: none;
  padding: 10px;
}

.DSCOVR_tables {
  display: grid;
  grid-template-columns: repeat(2, 1fr);
  gap: 20px;
  padding-top: 5%;
}

.dscovr_legend_container {
  margin-top: 5%;
  margin-left: 5%;
  display: flex;
  flex-direction: column;
  background-color: rgba(57, 57, 77, 1.0);
  padding: 10px;
  border-radius: 8px;
  width: 200px;
}

.dscovr_legend_container h3 {
  padding-top: 5%;
  padding-bottom: 15%;
  text-align: center;
  color: #e9e9e9;
}

.dscovr_legend_item {
  display: flex;
  align-items: center;
  margin-bottom: 10px;
}

.dscovr_legend_color {
  width: 20px;
  height: 20px;
  border-radius: 50%;
  margin-right: 10px;
}

.dscovr_legend_text {
  white-space: nowrap;
  color: #fff;
  font-family: 'YourFont', sans-serif;
  font-size: 14px;
  font-weight: 500;
}

.grid-container {
  display: grid;
  grid-template-columns: repeat(2, 1fr);
  gap: 20px;
}

@media screen and (max-width: 600px) {
  .dscovr_legend_item {
    flex-direction: column;
    align-items: flex-start;
    margin-bottom: 5px;
  }

  .dscovr_legend_color {
    margin-right: 0;
    margin-bottom: 5px;
  }
}

@media (max-width: 768px) {
  .grid-container {
    grid-template-columns: 1fr;
  }
}

.iframe_ACE {
  max-width: 100%;
  height: 500px;
}

.dscovr_legend_green {
  background-color: rgba(0, 255, 0, 1);
}

.dscovr_legend_yellow {
  background-color: rgba(255, 255, 0, 1);
}

.dscovr_legend_orange {
  background-color: rgba(255, 128, 0, 1);
}

.dscovr_legend_red {
  background-color: rgba(255, 0, 0, 1);
}

.dscovr_legend_darkred {
  background-color: rgba(128, 0, 0, 1);
}





/*Saules plankumi*/
.group_container_sunspots {
  background-color: rgb(43, 43, 51);
  padding: 2%;
  border: 1px solid #ccc;
  border-radius: 5px;
  box-shadow: 2px 2px 5px rgba(0, 0, 0, 0.5);
  margin: 2% 5%;
}

.group_container_sunspots h2 {
  margin-top: 1rem;
  font-size: 2rem;
  font-weight: 700;
  color: rgb(250, 252, 255);
  padding: 1%;
  text-align: center;
}

.title_separator_sunspots {
  border: none;
  border-top: 1px solid #ccc;
  width: 80%;
  margin: 50px auto;
}

.image_grid_sunspots {
  display: flex;
  gap: -15%;
}

.grid-item {
  text-align: center;
}

.image_grid_sunspots img {
  max-width: 70%;
  width: 100%;
  height: auto;
  display: inline-block;
}

.grid_item_sunspots {
  flex: 1;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  text-align: center;
}

.sunspot_images {
  position: relative;
  display: inline-block;
  opacity: 1;
}

.tooltip_container {
  position: relative;
  display: inline-block;
}

.tooltip_text {
  display: inline-block;
  width: 20px;
  height: 20px;
  background-color: #f0f0f0;
  color: #333;
  text-align: center;
  line-height: 20px;
  border-radius: 50%;
  cursor: pointer;
  margin-left: 5px;
}

.tooltip_explanation {
  display: none;
  position: absolute;
  background-color: #333;
  color: #fff;
  text-align: center;
  border-radius: 4px;
  padding: 5px;
  top: 100%;
  left: 50%;
  transform: translateX(-50%);
  z-index: 1;
  opacity: 0;
  transition: opacity 0.2s;
}

.tooltip_container:hover .tooltip_explanation {
  display: block;
  opacity: 1;
}

.table_sun_data {
  border-radius: 5px;
  max-width: 100%;
  height: 600px;
  margin-top: 5%;
  width: 90%;
  margin-left: auto;
  margin-right: auto;
  display: block;
}

.lightbox_overlay_sunspots {
  display: none;
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background: rgba(0, 0, 0, 0.8);
  z-index: 999;
  text-align: center;
}

.lightbox_image_sunspots {
  display: inline-block;
  max-width: 50%;
  max-height: 100%;
  margin: 10px;
}

.sunspot_legend_container {
  margin-top: -10%;
  margin-left: 5%;
  display: flex;
  flex-direction: column;
  background-color: rgba(57, 57, 77, 1.0);
  padding: 10px;
  border-radius: 8px;
  width: 300px;
}

.sunspot_legend_container h3 {
  padding-top: 5%;
  padding-bottom: 15%;
  text-align: center;
  color: #e9e9e9;
}

.sunspot_legend_item {
  display: flex;
  align-items: center;
  margin-bottom: 10px;
}

.sunspot_legend_color {
  width: 20px;
  height: 20px;
  border-radius: 50%;
  margin-right: 10px;
}

.sunspot_legend_text {
  white-space: nowrap;
  color: #fff;
  font-family: 'YourFont', sans-serif;
  font-size: 14px;
  font-weight: 500;
}

@media screen and (max-width: 600px) {
  .sunspot_legend_item {
    flex-direction: column;
    align-items: flex-start;
    margin-bottom: 5px;
  }

  .sunspot_legend_color {
    margin-right: 0;
    margin-bottom: 5px;
  }
}

.sunspot_legend_green {
  background-color: #4CAF50;
}

.sunspot_legend_orange {
  background-color: #FFA500;
}

.sunspot_legend_red {
  background-color: #FF0000;
}





/*Saules uzliesmojumi un izvirdumi*/
.group_container_CME {
  background-color: rgb(43, 43, 51);
  padding: 2%;
  border: 1px solid #ccc;
  border-radius: 5px;
  box-shadow: 2px 2px 5px rgba(0, 0, 0, 0.5);
  margin: 2% 5%;
}

.group_container_CME h2 {
  margin-top: 1rem;
  font-size: 2rem;
  font-weight: 700;
  color: rgb(250, 252, 255);
  padding: 1%;
  text-align: center;
}

.title_separator_CME {
  border: none;
  border-top: 1px solid #ccc;
  width: 80%;
  margin: 50px auto;
}

.image_grid_CME {
  display: flex;
  gap: 0%;
}

.grid_item_CME {
  text-align: center;
}

.image_grid_CME img {
  max-width: 70%;
  width: 100%;
  height: auto;
  display: inline-block;
}

.table_cme {
  border-radius: 5px;
  max-width: 100%;
  height: 400px;
  margin-top: 1%;
  width: 100%;
  margin-bottom: 10%;
}

.iframe-container {
  position: relative;
  width: 100%;
  height: 0;
  padding-bottom: 26%;
  overflow: hidden;
  border-radius: 5px;
  box-shadow: 2px 2px 5px rgba(0, 0, 0, 0.5);
  background-color: rgb(43, 43, 51);
  margin-top: 0px;
  margin-bottom: 0px;
}

.KP_explanation2 {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  border: none;
}

.solarflare_legend_container {
  margin-top: -6%;
  margin-left: 1%;
  margin-bottom: 6%;
  display: flex;
  flex-direction: column;
  background-color: rgba(57, 57, 77, 1.0);
  padding: 10px;
  border-radius: 8px;
  width: 300px;
}

.solarflare_legend_container h3 {
  padding-top: 5%;
  padding-bottom: 15%;
  text-align: center;
  color: #e9e9e9;
}

.solarflare_legend_item {
  display: flex;
  align-items: center;
  margin-bottom: 10px;
}

.solarflare_legend_color {
  width: 20px;
  height: 20px;
  border-radius: 50%;
  margin-right: 10px;
}

.solarflare_legend_text {
  white-space: nowrap;
  color: #fff;
  font-family: 'YourFont', sans-serif;
  font-size: 14px;
  font-weight: 500;
}

.lightbox_overlay_lasco {
  display: none;
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background: rgba(0, 0, 0, 0.8);
  z-index: 999;
  text-align: center;
}

.lightbox_image_lasco {
  display: inline-block;
  max-width: 100%;
  max-height: 100%;
  margin: 10px;
}

@media screen and (max-width: 600px) {
  .solarflare_legend_item {
    flex-direction: column;
    align-items: flex-start;
    margin-bottom: 5px;
  }

  .solarflare_legend_color {
    margin-right: 0;
    margin-bottom: 5px;
  }
}

.solarflare_legend_x10 {
  background-color: rgba(200, 0, 0, 1.0);
}

.solarflare_legend_x {
  background-color: rgba(255, 0, 0, 1.0);
}

.solarflare_legend_m {
  background-color: rgba(255, 150, 0, 1.0);
}

.solarflare_legend_c {
  background-color: rgba(255, 200, 0, 1.0);
}

.solarflare_legend_b {
  background-color: rgba(246, 235, 20, 1.0);
}

.solarflare_legend_a {
  background-color: rgba(146, 208, 80, 1.0);
}






/*Saules atteli un video*/
.group_container_SDO {
  background-color: rgb(43, 43, 51);
  padding: 2%;
  border: 1px solid #ccc;
  border-radius: 5px;
  box-shadow: 2px 2px 5px rgba(0, 0, 0, 0.5);
  margin: 2% 5%;
}

.group_container_SDO h2 {
  margin-top: 1rem;
  font-size: 2rem;
  font-weight: 700;
  color: rgb(250, 252, 255);
  padding: 1%;
  text-align: center;
}

.title_separator_SDO {
  border: none;
  border-top: 1px solid #ccc;
  width: 80%;
  margin: 50px auto;
}

.group_container_SDO div {
  text-align: center;
  margin-bottom: 20px;
}

.group_container_SDO button {
  background-color: #007bff;
  color: #fff;
  border: none;
  padding: 10px 20px;
  font-size: 16px;
  cursor: pointer;
  border-radius: 4px;
  margin: 0 10px;
}

.group_container_SDO button:hover {
  background-color: #0056b3;
}

.image_grid_SDO {
  display: grid;
  grid-template-columns: repeat(auto-fill, minmax(500px, 1fr));
  justify-content: center;
  gap: 10px;
  margin-top: 20px;
}

.video_grid_SDO {
  display: grid;
  grid-template-columns: repeat(auto-fill, minmax(500px, 1fr));
  justify-content: center;
  gap: 10px;
  margin-top: 20px;
}


.grid_item_SDO {
  text-align: center;
}

img {
  max-width: 100%;
  height: auto;
  display: block;
}

.tooltip_container {
  position: relative;
  display: inline-block;
}

.tooltip_text {
  display: inline-block;
  width: 20px;
  height: 20px;
  background-color: #f0f0f0;
  color: #333;
  text-align: center;
  line-height: 20px;
  border-radius: 50%;
  cursor: pointer;
  margin-left: 5px;
}

.tooltip_explanation {
  display: none;
  position: absolute;
  background-color: #333;
  color: #fff;
  text-align: center;
  border-radius: 4px;
  padding: 5px;
  top: 100%;
  left: 50%;
  transform: translateX(-50%);
  z-index: 1;
  opacity: 0;
  transition: opacity 0.2s;
}

.tooltip_container:hover .tooltip_explanation {
  display: block;
  opacity: 1;
}

.tooltip-container {
  position: relative;
  display: inline-block;
}

.tooltip-container p {
  position: relative;
  display: inline-block;
}

.tooltip-text {
  display: inline-block;
  width: 20px;
  height: 20px;
  background-color: #f0f0f0;
  color: #333;
  text-align: center;
  line-height: 20px;
  border-radius: 50%;
  cursor: pointer;
  margin-left: 5px;
}

.tooltip-explanation {
  display: none;
  position: absolute;
  background-color: #333;
  color: #fff;
  text-align: center;
  border-radius: 4px;
  padding: 5px;
  top: 100%;
  left: 50%;
  transform: translateX(-50%);
  z-index: 1;
  opacity: 0;
  transition: opacity 0.2s;
}

.tooltip-container:hover .tooltip-explanation {
  display: block;
  opacity: 1;
}

.sdo-tab-container {
  width: 100%;
  max-width: 1600px;
  margin: 0 auto;
}

.sdo-tabs {
  list-style: none;
  padding: 0;
  margin: 0;
  display: flex;
  background-color: #333;
  border-radius: 5px;
}

.sdo-tabs li {
  flex: 1;
}

.sdo-tabs li.active a {
  color: #fff;
  background-color: #007bff;
}

.sdo-tabs a {
  display: block;
  padding: 15px;
  text-align: center;
  color: #fff;
  text-decoration: none;
  background-color: #555;
  border-radius: 5px 5px 0 0;
}

.sdo-tabs a:hover {
  background-color: #777;
}

.sdo-tabs .active-tab a {
  background-color: #007bff;
}

.sdo-tab-content {
  display: none;
}

.sdo_tables_3hour,
.sdo_tables_6hour,
.sdo_tables_24hour {
  display: none;
}

.sdo_tables_3hour,
.sdo_tables_6hour,
.sdo_tables_24hour {
  display: grid;
  grid-template-columns: repeat(2, 1fr);
  gap: 20px;
  background-color: rgb(43, 43, 51);
  border: 1px solid #ccc;
  border-radius: 5px;
  box-shadow: 2px 2px 5px rgba(0, 0, 0, 0.5);
  margin: 2% 5%;
  padding-right: 2%;
}

.sdo_tables_3hour iframe,
.sdo_tables_6hour iframe,
.sdo_tables_24hour iframe {
  max-width: 100%;
}

.sdo_tables_3hour h2,
.sdo_tables_6hour h2,
.sdo_tables_24hour h2 {
  margin-top: 1rem;
  font-size: 2rem;
  font-weight: 700;
  color: rgb(250, 252, 255);
  text-align: center;
}

.sdo_tables_3hour.active-tab,
.sdo_tables_6hour.active-tab,
.sdo_tables_24hour.active-tab {
  display: block;
}

.lightbox_overlay_sdo {
  display: none;
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background: rgba(0, 0, 0, 0.8);
  z-index: 999;
  text-align: center;
}

.lightbox_image_sdo {
  display: inline-block;
  max-width: 50%;
  max-height: 100%;
  margin: 10px;
}

.tab-container {
  width: 100%;
  max-width: 1200px;
  margin: 0 auto;
}

.tabs {
  list-style: none;
  padding: 0;
  margin: 0;
  display: flex;
  background-color: #333;
  border-radius: 5px;
}

.tabs li {
  flex: 1;
}

.tabs li.active a {
  color: #fff;
  background-color: #007bff;
}

.tabs a {
  display: block;
  padding: 15px;
  text-align: center;
  color: #fff;
  text-decoration: none;
  background-color: #555;
  border-radius: 5px 5px 0 0;
}

.tabs a:hover {
  background-color: #777;
}

.tabs .active-tab a {
  background-color: #007bff;
}

.tab-content {
  display: none;
}

.DSCOVR_tables_3hour,
.DSCOVR_tables_6hour,
.DSCOVR_tables_24hour {
  display: none;
}

.DSCOVR_tables_3hour,
.DSCOVR_tables_6hour,
.DSCOVR_tables_24hour {
  display: grid;
  grid-template-columns: repeat(2, 1fr);
  gap: 20px;
  background-color: rgb(43, 43, 51);
  border: 0px solid #ccc;
  border-radius: 20px;
  box-shadow: 2px 2px 5px rgba(0, 0, 0, 0.5);
  margin: 2% 5%;
  padding-right: 2%;
}

.DSCOVR_tables_3hour iframe,
.DSCOVR_tables_6hour iframe,
.DSCOVR_tables_24hour iframe {
  max-width: 100%;
}

.DSCOVR_tables_3hour h2,
.DSCOVR_tables_6hour h2,
.DSCOVR_tables_24hour h2 {
  margin-top: 1rem;
  font-size: 2rem;
  font-weight: 700;
  color: rgb(250, 252, 255);
  text-align: center;
}

.DSCOVR_tables_3hour.active-tab,
.DSCOVR_tables_6hour.active-tab,
.DSCOVR_tables_24hour.active-tab {
  display: block;
}










/*Prognozu lapa*/
.forecast__map {
  background: #131313;
  text-align: center;
  padding: 25px;
}

.image-container {
  display: flex;
  justify-content: space-between;
  max-width: 100%;
}

.image-text {
  text-align: left;
  width: 45%;
}

#forecastMap__img1,
#forecastMap__img2 {
  max-width: 100%;
  height: auto;
  border-radius: 15px;
}

p {
  color: rgb(210, 210, 210);
  margin-top: 1rem;
  font-size: 1rem;
  font-weight: 700;
}

figcaption {
  font-weight: bold;
  margin-top: 10px;
  color: azure;
}


/* Jaunumu lapa */
* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  background-color: rgb(23,
      25,
      26);
  font-family: Arial, sans-serif;
}

header {
  background-color: rgb(23, 25, 26);
  color: rgb(255, 255, 255);
  padding: 20px;
  text-align: center;
}

header h1 {
  margin-top: 1rem;
  font-size: 2rem;
  font-weight: 700;
  color: rgb(250, 252, 255);
  padding-top: 5%;
}

#categories {
  text-align: center;
  margin: 20px 0;
}

#categories button {
  background-color: #fff;
  color: rgb(0, 19, 128);
  border: 1px solid rgb(0, 0, 0);
  padding: 8px 16px;
  margin: 5px;
  border-radius: 4px;
  cursor: pointer;
  font-size: 1rem;
  font-weight: 700;
}

.blog-post {
  padding: 20px;
  margin: 10px;
  border: 1px solid #ccc;
  border-radius: 5px;
  position: relative;
  overflow: hidden;
  background-size: cover;
  background-position: center;
}

.blog-post::before {
  content: "";
  background-image: linear-gradient(to bottom,
      rgba(0, 0, 0, 0.5),
      rgba(0, 0, 0, 0.7));
  position: absolute;
  top: 0;
  right: 0;
  bottom: 0;
  left: 0;
  opacity: 0;
  transition: opacity 0.3s;
}

.blog-post:hover::before {
  opacity: 1;
  background-size: contain;
  background-position: center;
}

.blog-post h2 {
  font-size: 20px;
  color: rgb(250, 252, 255);
  margin-bottom: 10px;
  position: relative;
  z-index: 1;
  padding: 10px;
  text-align: center;
}

.blog-post p {
  font-size: 16px;
  color: #fff;
  position: relative;
  z-index: 1;
  padding: 10px;
}

.blog-thumbnail {
  max-width: 100%;
  height: auto;
  display: block;
  margin: 0 auto;
  max-height: 200px;
}

#categories button:hover {
  background-color: rgb(0, 40, 255);
  color: #fff;
}

.blog-thumbnail {
  width: 100%;
  height: 100%;
  object-fit: cover;
}










/*Kameras*/
.group_container_kameras {
  background-color: rgb(43, 43, 51);
  padding: 2%;
  border: 1px solid #ccc;
  border-radius: 5px;
  box-shadow: 2px 2px 5px rgba(0, 0, 0, 0.5);
  margin: 2% 5%;
  display: flex;
  flex-wrap: wrap;
  align-items: flex-start;
}

.group_container_kameras h2 {
  margin-top: 1rem;
  font-size: 2rem;
  font-weight: 700;
  color: rgb(250, 252, 255);
  padding: 1%;
  text-align: center;
  width: 100%;
}

.title_separator_kameras {
  border: none;
  border-top: 1px solid #ccc;
  width: 80%;
  margin: 50px auto;
}










/*Changelog*/
/* Changelog Styles */

.changelog {
  background-color: rgb(43, 43, 51);
  padding: 2rem;
}

.changelog__container {
  max-width: 800px;
  margin: 0 auto;
}

.changelog__heading {
  color: rgb(0, 40, 255);
}

.changelog__version {
  margin-bottom: 2rem;
}

.changelog__version-number {
  color: rgb(0, 40, 255);
  font-size: 2rem;
}

.changelog__date {
  color: white;
  margin-bottom: 1rem;
}

/* Different colors for each section */
.changelog__changes h4 {
  margin-top: 1rem;
}

.changelog__changes h4.new-features {
  color: lime;
  /* Green for new features */
}

.changelog__changes h4.changes {
  color: yellow;
  /* Yellow for changes */
}

.changelog__changes h4.removed {
  color: red;
  /* Red for removed items */
}

.changelog__changes ul {
  /*list-style: none;*/
  margin: 0;
  padding: 0;
}

.changelog__changes li {
  margin-bottom: 0.5rem;
}

.changelog__toggle-btn {
  background-color: rgb(0, 40, 255);
  color: white;
  border: none;
  padding: 0.5rem;
  cursor: pointer;
  font-size: 1rem;
  margin-left: 1rem;
  border-radius: 5px;
  transition: background-color 0.3s ease-in-out;
}

.changelog__toggle-btn:hover {
  background-color: rgb(0, 20, 200);
}

.group_container_changelog {
  background-color: rgb(43, 43, 51);
  padding: 2%;
  border: 1px solid #ccc;
  border-radius: 5px;
  box-shadow: 2px 2px 5px rgba(0, 0, 0, 0.5);
  margin: 2% 5%;
  display: flex;
  flex-wrap: wrap;
  align-items: flex-start;
}

.group_container_changelog h2 {
  margin-top: 1rem;
  font-size: 2rem;
  font-weight: 700;
  color: rgb(250, 252, 255);
  padding: 1%;
  text-align: center;
  width: 100%;
}

.title_separator_changelog {
  border: none;
  border-top: 1px solid #ccc;
  width: 80%;
  margin: 50px auto;
}